.top-movie-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.top-movie-container > .movie-card {
  padding: 10px;
}

.top-movie-container > .movie-card > img {
  height: 58vh;
  width: 21vw;
  box-shadow: 10px 14px 14px rgba(46, 32, 32, 0.1);
}

.top-movie-wrapper {
  display: flex;
  flex-direction: column;
}

.top-movie-wrapper > h2 {
  align-self: center;
  color: rgb(64, 153, 153);
  text-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
  padding-top: 3vh;
  padding-bottom: 3vh;
}