.all-movie-container {
  padding: 20px;
  padding: 20px;
}

.all-movie-wrapper {
  display: flex;
  flex-direction: column;
}

.all-movie-wrapper > h2 {
  align-self: center;
  color: rgb(64, 153, 153);
  text-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
  padding-top: 5vh;
}

.all-movie-wrapper > img {
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
}
