.all-movie-container {
  padding: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.all-movie-wrapper {
  display: flex;
  flex-direction: column;
}

.all-movie-wrapper > h2 {
  align-self: center;
  color: rgb(64, 153, 153);
}