

nav {
  background-color:rgba(179, 176, 176, 0.952);
  height: 10vh;
  position: sticky;
  top: 0;
  color: rgb(64, 153, 153);
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 30px;
}

nav > img {
  margin-left: 25px;
}